# Environment variables
node_modules
.env
.env.*
**/.env
**/.env.local

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
_pycache_/
*.py[cod]
*$py.class
venv/
.venv/
env/
chatbot_backend/venv/
chatbot_backend/__pycache__/

# IDEs
.idea/
.vscode/

# Build and Prisma
dist/
build/
/generated/prisma
node_modules/
